GITLAB_URL=https://gitlab.com
GITLAB_TOKEN=
GITLAB_SSL_VERIFY=true
GITLAB_PROXY_URL=
GITLAB_API_VERSION=v4
GITLAB_MAX_RESULTS=100
GITLAB_READ_ONLY=false
GITLAB_TOOL_ALLOWLIST=
GITLAB_TOOL_DENYLIST=
GITLAB_LOG_LEVEL=INFO
